/*******************************
  FONTS
*******************************/

$font-main: 'Titillium Web', sans-serif;
$font-heading: 'Exo 2', sans-serif;
$font-ptsansnarrow: 'PT Sans Narrow', sans-serif;
$font-ptsans: 'PT Sans', sans-serif;
$font-blackhansans: 'Black Han Sans', sans-serif;
$font-sansita: 'Sansita', sans-serif;
$font-expletussans: 'Expletus Sans', sans-serif;
$font-averiasanslibre: 'Averia Sans Libre', sans-serif;
$font-righteous: "Righteous", sans-serif;
$font-ubuntumono: "Ubuntu Mono", monospace;

$font-playfair: "Playfair Display", serif;
$font-crimson: "Crimson Text", serif;
$font-slabo: "Slabo 27px", serif;