/*******************************
  HEADER
*******************************/

header {
  top: 0;
  padding: 2em 0 1.5em 0;
}
.nameContainer {
  margin: 0 auto;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
header h1 {
  font-family: $font-righteous;
  font-size: 5.5em;
  line-height: 1em;
  letter-spacing: 0.5em;
  margin: 0 0 0 10px;
  padding: 5px;
  color: $color-main-text;
  position: relative;
  text-shadow: 1px 1px 10px rgba(0,0,1,0);
}
.light-mode header h1 {
  color: $color-main-text-light-theme;
  font-family: $font-crimson;
  letter-spacing: 0.3em;
}
@media screen and (max-device-width: 650px) {
  header h1 {
    font-size: 3em;
  }
}
header h1:after {
  background: -webkit-linear-gradient(left, $blue, $purple);
  background-clip: text;
  -webkit-background-clip: text;
  content: attr(datatext);
  color: transparent;
  left: 9px;
  top: 9px;
  position: absolute;
  z-index: -1;
  opacity: 1;
}
.light-mode header h1:after {
  background: none;
}
header a {
  text-decoration: none;
}
header a:hover h1:after {
  background: -webkit-linear-gradient(left, $pink, $purple);
  background-clip: text;
  -webkit-background-clip: text;
  content: attr(datatext);
  color: transparent;
  left: 9px;
  top: 9px;
  position: absolute;
  z-index: -1;
  opacity: 1;
}
#sticky-header {
  position: fixed;
  z-index: 2;
  font-size: 0.4em;
  width: 100%;
  background-color: rgba($color-main-bg, 0.95);
  transition: top 150ms ease-out;
  box-shadow: 0px 4px 8px 0px rgba($color-main-bg, 0.7);
  h1 {
    margin:10px;
  }
}
.light-mode {
  #sticky-header {
    background-color: rgba($color-main-bg-light-theme, 0.95);
    box-shadow: 0px 4px 8px 0px rgba($color-main-bg-light-theme, 0.2);
  }
}
@media screen and (max-device-width: 650px) {
  #sticky-header {
    h1 {
      margin: 15px 10px 10px 20px;
    }
    h1:after {
      left: 7px;
      top: 7px;
    }
  }
}
.sticky-header-hidden {
  top: -65px;
}
.sticky-header-visible {
  top: 0px;
}