@import "./colors.scss";
@import "./fonts.scss";
@import "./header.scss";
@import "./content.scss";
@import "./footer.scss";


/*******************************
  GLOBAL STYLES
*******************************/
html {
  min-height: 100%;
  width: 100%;
  position: relative;
  overflow: auto;
}
body {
  overflow: auto;
  height: 100%;
  width: 100%;
  background-color: $color-main-bg;
  /* background: -webkit-linear-gradient(135deg, var($color-main-bg), var($color-main-bg-alt)); */
  /* -webkit-text-fill-color: transparent; */
  color: $color-main-text;
  font-family: $font-main;
  text-shadow: 1px 1px 4px rgba(0,0,1,1);
}
.app {
  display: flex;
  flex-direction: column;
}
::selection {
  background: $chlorine; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $chlorine; /* Gecko Browsers */
}
h1, nav, h3 {
  font-family: $font-expletussans;
}
.fadeIn {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.5s;
}
@keyframes fadeInOpacity {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.colorBar {
  height: 1px;
  width: 100%;
  background-image: linear-gradient(to right, $blue , $purple);
  margin: 0 0 0 0;
}
.stars {
  /* height: auto; */
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
}
.underline {
  background-image: linear-gradient(120deg, $blue 0%, $purple 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  /* opacity: 0.9; */
  background-position: 0 75%;
  transition: background-size 0.2s ease-in;
}
.stars-big, .stars-small {
  position: absolute;
  z-index: -2;
  opacity: 0.4;
  height: 100%;
  width: 100%;
  // left: calc(50% - 1500px);
  top: 0;
  transform-origin: center;
}
.stars-big {
  background: url(../assets/img/stars-large.svg) center/1000px auto repeat;
  animation: 7s pulse infinite linear;
}
.stars-small {
  background: url(../assets/img/stars-small.svg) center/1000px auto repeat;
  animation: 4s pulse infinite linear;
}
@-webkit-keyframes pulse {
  0% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.3;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
@keyframes pulse {
  0% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.3;
  }
  70% {
    opacity: 0.6;
  }
  100% {
      opacity: 0.2;
  }
}
@-webkit-keyframes rotate360 {
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes rotate360 {
  100% {
    transform: rotateZ(360deg);
  }
}
