@import "../colors.scss";

.toggle {
  height: 0;
  width: 0;
  visibility: hidden;
}
.toggle-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 60px;
  height: 24px;
  // background: rgba($purple, 0.9);
  background: -webkit-linear-gradient(left, $blue, $purple);
  border-radius: 30px;
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba($purple, 0.8);
}
.toggle-label .toggle-knob {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  border-radius: 24px;
  transition: .3s;
  background: lighten($color-main-bg, 3%);
  box-shadow: 0 0 3px 0 rgba(10, 10, 10, 0.6);
}
.toggle:checked + .toggle-label .toggle-knob {
  left: calc(100% - 3px);
  transform: translateX(-100%);
  background: $color-main-bg-light-theme;
  box-shadow: 0 0 3px 0 rgba(10, 10, 10, 0.3);
}
.toggle:checked + .toggle-label {
  background: $avocado;
  background: -webkit-linear-gradient(left, $avocado, darken($avocado, 5%));
  box-shadow: none;
}
.toggle-label:active .toggle-knob {
  width: 30px;
}
.toggle-container {
  top: -6px;
  right: 16px;
  margin: 0;
  position: fixed;
  z-index: 3;
}