@import "../colors.scss";

footer {
  width: 80%;
  margin: 35px 20px 15px 20px;

  p {
    margin: 0 auto;
    align-content: center;
    font-size: 1em;
    padding-top: 0;
    letter-spacing: -0.03em;

    i {
      svg {
        path {
          fill: $cerulean;
        }
    //    circle {
    //      fill: $cerulean;
    //    }
      }
    }
  }
}