@import "../colors.scss";
@import "../fonts.scss";
@import "./Code.scss";

//.article-container {
  //h4 {
  //  color: $color-main-text;
  //  font-family: $font-futura;
  //  font-weight: 900;
  //  font-size: 2em;
  //  //letter-spacing: 0.01em;
  //}

  .article {
    margin: 0 20px;
    font-size: 1.70em;
    line-height: 1.5em;
    @media (min-width: 375px) and (max-width: 812px) {
      font-size: 1.6em;
      margin: 0 15px;
    }

    .nameContainer {
      font-size: 0.55em;
    }

    ul {
      list-style-type: none;
      padding-left: 0;
    }

    .image {
      width: 100%;

      img {
        width: 90%;
        margin: 1em auto;
        border-radius: 10px;
        //box-shadow: 4px 4px 0px 0px rgba($amethyst, 0.7);
        box-shadow: 0 2px 10px rgba(black, 0.2);

        @media (min-device-width: 375px) and (max-device-width: 812px) {
          width: 96%
        }
      }
    }
  }
//}

.light-mode {
  .article-container {
    h4 {
      color: $color-main-text-light-theme;
    }
  }
}

.video-container {
  border-radius: 10px;
  margin: 1em auto;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  box-shadow: 4px 4px 0px 0px rgba($amethyst, 0.8);
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}