@import "../../colors.scss";

.ant-back-top {
  bottom: 38px;
  right: 42px;
  position: fixed;
  font-size: 32px;

  .back-top-icon {
    height: 1em;
    width: 1em;

    .up-arrow-icon {
      fill: $color-main-text;
    }
  }
}

.light-mode {
  .ant-back-top {
    .back-top-icon {
      .up-arrow-icon {
        fill: $color-main-text-light-theme;
      }
    }
  }
}

.back-top-background {
  width: 60px;
  height: 60px;
  font-size: 40px;
  line-height: 61px;
  border-radius: 30px;
  background-color: rgba($color-main-bg, 0.9);
  text-align: center;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

  @media (min-width: 375px) and (max-width: 812px) {
    line-height: 62px;
  }
}

.light-mode {
  .back-top-background {
    background-color: rgba($color-main-bg-light-theme, 0.9)
  }
}