@import "./fonts.scss";
@import "./colors.scss";

html {
  min-height: 100%;
  width: 100%;
  position: relative;
  overflow: auto;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: $color-main-bg;
  color: $color-main-text;
  font-family: $font-ptsans;
}
.light-mode body {
  background-color: $color-main-bg-light-theme;
}

.app {
  max-width: 1100px;
  margin: 0 auto 0 0;
  padding: 2%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1000px) {
  .app {
    padding: 0;
  }
}

//.light-mode .app {
//  background-color: $color-main-bg-light-theme;
//  color: $color-main-text-light-theme;
//  //text-shadow: none;
//  // font-family: $font-slabo;
//}

p {
  white-space: pre-wrap;
}

a {
  text-decoration: none;
}

::selection {
  background: $purple; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $purple; /* Gecko Browsers */
}

.fadeIn {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.6s;
}
@keyframes fadeInOpacity {
  0% { opacity: 0; }
  100% { opacity: 1; }
}