$pink: #cc50f1;
$blue: #3b95e3;
$purple: #5e25c9;
$amethyst: #7c5ce7;
$avocado: #00a874;
$taro: #a29bfe;
$aquafresh: #81ecec;
$chlorine: #00cec9;
$cerulean: #0a84e3;
$monday: #636e72;
$siracha: #d63131;
$sunnyd: #fdcb6e;
$acid: #e0fc1e;

$color-main-bg: #13151a;
$color-main-bg-light-theme: #f4f4f5;
$color-main-text: #dbdbdb;
$color-main-text-light-theme: #242425;
$color-accent-first: $cerulean;
$color-accent-second: $amethyst;
$color-main-text-disabled: darken($color-main-text, 65%);
$color-main-text-disabled-light-theme: lighten($color-main-text-light-theme, 75%);