$pink: #cc50f1;
$blue: #3b95e3;
$purple: #5e25c9;
$amethyst: #7c5ce7;
$avocado: #00a874;
$taro: #a29bfe;
$aquafresh: #81ecec;
$chlorine: #00cec9;
$cerulean: #0984e3;
$monday: #636e72;

$color-main-bg: #13151a;
$color-main-bg-light-theme: #fcfcfc;
$color-main-text: #dbdbdb;
$color-main-text-light-theme: #111;
$color-link-light-theme: $avocado;
$color-link-hover-light-theme: darken($avocado, 8%);
$color-main-text-disabled: darken($color-main-text, 65%);
$color-main-text-disabled-light-theme: lighten($color-main-text-light-theme, 75%);